$global-block-radius: .35em !default;
$global-button-radius: .35em !default;

$global-font-family: 'Open Sans', Helvetica, sans-serif !default;

$global-box-shadow-enable: false !default;
$global-box-shadow-x: 0 !default;
$global-box-shadow-y: 1px !default;
$global-box-shadow-radius: 3px !default;
$global-box-shadow-color: #000 !default;

$global-box-inset-shadow-enable: false !default;
$global-box-inset-shadow-x: 0 !default;
$global-box-inset-shadow-y: 1px !default;
$global-box-inset-shadow-radius: 3px !default;
$global-box-inset-shadow-color: #000 !default;

$global-box-overlay-shadow-enable: false !default;
$global-box-overlay-shadow-x: 0 !default;
$global-box-overlay-shadow-y: 0 !default;
$global-box-overlay-shadow-radius: 12px !default;
$global-box-overlay-shadow-color: #000 !default;

$global-icon-color: #666 !default;
$global-icon-disk-color: rgba(0,0,0,.3) !default;
$global-icon-shadow-enable: true !default;
$global-icon-shadow-color:#fff !default;
$global-icon-height: 30px !default;

$global-alt-icon-color: #000 !default;
$global-radio-on-bg: #fff !default;

$global-checkbox-radius: .1875em !default;

$global-text-shadow-enable: true !default;
$global-text-shadow-x: 0 !default;
$global-text-shadow-y: 1px !default;
$global-text-shadow-color: #000 !default;
$global-text-shadow-radius: 0 !default;

$global-field-contain-border-color: #828282 !default;
$global-field-contain-border-width: 1px !default;
$global-field-contain-border-style: solid !default;

$global-btn-font-weight: bold !default;
$global-btn-border-width: 1px !default;
$global-btn-border-style: solid !default;

$global-bar-height: 0;
